[2017-06-26 18:14] ahmetb opened #1 "Add cleanup steps"
To be consistent with other client-go tutorials, we need https://github.com/kubernetes/apiextensions-apiserver/tree/master/examples/client-go example to have a `## Cleanup` section where the instructions to remove artifacts created by the example program can be removed.

[2017-07-03 10:07] #1 closed

[2017-07-28 04:45] ash2k opened #3 "Kubernetes 1.7 compatible branch?"
How can I use CRD client from this repo with client-go release-4.0 (kubernetes 1.7) branch? They rely on different versions of apimachinery.

Related: https://github.com/kubernetes/client-go/issues/247

[2017-07-28 12:26] yaronha opened #4 "ListOptions with CRD"
I tried to implement CRD List client function and specify ListOptions, followed the same pattern used by standard objects and it didn’t seem to work, is there a documented/working way to do this?
Im specifically interested in the LabelSelector option

The following code didn’t work, and resulted in an error:
     v1.ListOptions is not suitable for converting to "myorg.io/v1"

[code]
it failed in t

[2017-07-30 01:41] ash2k commented on #3
Commit `be41f5093e2b05c7a0befe35b04b715eb325ab43` works for me - it's just before the commit that introduced `k8s.io/api` types.

[2017-07-31 11:40] deads2k commented on #4
@sttts The generator should be including listoptions in the client scheme, right?

[2017-07-31 12:01] sttts commented on #4
@yaronha `ListOptions` is registered for your api group in a line like this: https://github.com/kubernetes/kubernetes/blob/e2b50ac9b817dfb49c146b9423d1ee9a5da97cb2/staging/src/k8s.io/apiextensions-apiserver/examples/client-go/apis/cr/v1/register.go#L47. Can you verify you have that?

Is it a client-gen generated client or manually written? It would also help to see the full context. If you have a

[2017-08-01 17:01] yaronha commented on #4
@deads2k @sttts you can see the full code in https://github.com/yaronha/kube-crd
that was my CRD Tutorial, recently published in [TheNewStack](https://thenewstack.io/extend-kubernetes-1-7-custom-resources)

just replace the List function in https://github.com/yaronha/kube-crd/client/client.go#L71  with the following:

[code]

you can see the registration code (identical to your example) in:
https:

[2017-08-01 20:03] yaronha commented on #4
@deads2k @sttts ok, i beleive i found the solution

seems like i had to create a new ParameterCodec e.g.:
`myCodec = runtime.NewParameterCodec(scheme)`
and use myCodec in the list function (`VersionedParams(&opts, myCodec ).`)

[2017-08-02 09:05] flyer103 commented on #3
It's a headache to make  `kubernetes/client-go` `kubernetes/apimachinery` `kubernetes/apiextensions-apisever` work together 😢

[2017-08-02 09:12] munnerz commented on #4
I've also put together an example repo showing how you can properly use Kubernetes generators to generate a Clientset, Informers, Listers and even conversions, deep copy functions etc (and save having to write all of this boilerplate yourself)

The example repo is here https://github.com/munnerz/k8s-api-pager-demo and I did a talk on it last night at the London CNCF meetup, the slides for which ar

[2017-08-02 13:06] sttts commented on #4
@munnerz can you create an CRD example in https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/apiextensions-apiserver/examples using client-gen? I am happy to review of course. I have the feeling that with https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/apiextensions-apiserver/examples/client-go we misguide people. You shouldn't use the rest client to wo

[2017-08-02 13:56] deads2k commented on #3
@caesarxuchao how about creating the branches that match kube like apimachinery?  1.6, 1.7, etc?

[2017-08-02 23:37] caesarxuchao commented on #3
Creating a release-1.7 branch sounds good. Perhaps @sttts already have a PR out?

[2017-08-03 00:50] pmorie commented on #3
+100 to tags/branches consistent with k8s releases.

[2017-08-03 07:10] sttts commented on #3
Of course: https://github.com/kubernetes/test-infra/pull/3559

Needs some review and testing love from @rmmh. It's pending for 16 days.

[2017-08-03 07:11] sttts commented on #3
yes, please! @caesarxuchao do you see that in the bot or just documentation in the release process? If we can make it work via the bot, would be nicer of course.

[2017-08-08 11:49] Gouthamve opened #5 "Waiting for CRD establishment might not always work"
We are waiting for the CRD to be ready here: https://github.com/kubernetes/apiextensions-apiserver/blob/master/examples/client-go/client/cr.go#L58-L77

But even with both the conditions satisfying, the endpoint might not be ready. See:
[code]

Running `1.7.0` on minikube:
[code]

Is this a bug or just a bad way to wait for ready?

Thanks,
Goutham.

[2017-08-08 12:21] Gouthamve opened #6 "Consistency issues with CRDs: `get crd` doesn't work, full name works."
`kubectl get crd` fails, but `kubectl get customresourcedefinition` succeeds.

[code]

And:
[code]

[code]

[2017-08-08 12:26] luxas commented on #6
cc @kubernetes/sig-api-machinery-bugs

[2017-08-08 12:44] Gouthamve commented on #6
Update: this works after sometime, so right now:
[code]

[2017-08-08 12:49] deads2k commented on #6
@kubernetes/sig-cli-bugs sounds like a stale discovery cache.  Weird thing is, I don't think we ever serve it without the shortname.

[2017-08-08 13:55] Gouthamve commented on #6
Hmm, this is quite reproducible and happens when my test fails ;)

Here is the flow that causes it:
1. Have a TPR with version: `v1alpha1`
2. Delete the TPR data and TPR
3. Create CRD with version `v1` (notice version change)
4. Wait for CRD to be created by checking for: https://github.com/coreos/prometheus-operator/blob/master/pkg/k8sutil/k8sutil.go#L37-L62

This is when the CRD takes forever to

[2017-08-08 14:16] deads2k commented on #6
@Gouthamve Can clarify what you mean by "CRD"?  We normally use CRD (customresourcedefinition) to refer to the kube types which describe your custom resources.  Then we use CR (customresource) to talk about the resource you're trying to create.

Did you actually name your custom resource "CRD"?  If so, you're probably colliding with the actual shortname `crd` for `customresourcedefinitions`.  I wo

[2017-08-08 14:57] Gouthamve commented on #6
@deads2k Sorry for the confusion, I am currently experimenting with the CRD named: "Prometheus" whose definition is given in the issue description.

Now, the prometheus-operator is currently on TPRs with the version as `v1alpha1`. I am now working on migrating from TPR --> CRD and bumping the version from `v1alpha1` to `v1` while at it. And the steps described above are for that.

Nothing in the d

[2017-08-10 03:47] Gouthamve opened #7 "Long name registers but shortname doesn't"
Related to #5 #6

Here there are TPRs with version `v1alpha1` and a CRD with the same group but version `v1`. There used to be a prometheus TPR with `v1alpha1` but that was deleted and a CRD was created in its place.

Are there chances that we are somehow still routing requests to the TPR?

[code]
[code]
[code]

[2017-08-10 12:02] mad01 opened #8 "client-go example does not build if moved out from this repo"
if you are tracking head of the k8s.io dependencies it's not building. if moved out form project dir
[code]

[2017-08-10 12:09] #8 closed

[2017-08-10 13:13] ash2k opened #9 "Ensure CRD exists helper"
There is a helper method in the example that creates a CRD and waits for it to be established. I have a similar method but a bit more sophisticated (uses a lister instead of a rest client, handles a number of edge cases like conflicts, can update CRD if it does not match). If there is interest I can submit a PR with it. Perhaps will need to make it more flexible first.

Existing code: https://gith

[2017-08-14 09:51] munnerz commented on #4
@sttts I'll try and find some time for that this week, sorry this slipped under my radar a couple of weeks ago!

[2017-08-14 10:41] sttts commented on #4
@munnerz would be cool to have that in 1.8.

[2017-08-16 08:54] armstrongli commented on #4
I have encountered this kind of issue, too. And I found that there're **2 different `api.Schema`**. One is `k8s.io/kubernetes/pkg/api`, the other is `k8s.io/client-go/pkg/api`.
The service which use `client-go` won't be able to list/watch objects from shared informers with error `v1.ListOptions is not suitable for converting to ****`

The solution is to edit the `install.go` to register the object

[2017-08-16 09:06] sttts commented on #4
@armstrongli neither of the two schemes should be relevant for 3rdparty work. What's you context? Something in the kubernetes tree? A CRD using client-go?

[2017-08-16 22:56] armstrongli commented on #4
@sttts the way client-go i use client-go is special.
 - tge types are not defined in pkg/apis. they are defined in my own project. e.g. github.com/armstrongli/somesample/pkg/apis
 - the generated code is in kubernetes code, while the install/register is in my sample code.

there're no problems while not using client-go cause everything is registered in `kubernetes/api.Scheme`.
And there're object

[2017-08-21 09:53] fabiand opened #10 "CRDs can not be created with `apply`"
The following `apply` call fails for me, but `creat`ing the same file works.

[code]

on a minikube:
[code]

[2017-08-23 13:09] deads2k commented on #10
@enisoc was this on the checklist you had for the integration tests?  I thought I remembered seeing it in test-cmd.

[2017-08-23 17:53] enisoc commented on #10
This seems to be failing for the creation of the CRD itself, which should act like any other native resource. Is it possible that your `kubectl` is older than v1.7.0? This error seems to be coming from the client side, and it makes sense that `apply` would be trying to interpret things locally (to do strategic merge patch) whereas `create` can just pass through to the server.

@deads2k We do have

[2017-08-23 18:53] fabiand commented on #10
Yes, thanks, that did the trick (client 1.7+):

[code]

[2017-08-23 18:53] #10 closed

[2017-08-31 05:37] sadlil opened #11 "Short names do not works with matching names"
Here is my CRD
[code]
[code]

CRD Data
[code]

Outputs
[code]
Expected to see the resource list when `kubectl get dpl` or `kubectl get deployments`.

Versions
[code]

[2017-08-31 07:50] aerokite opened #12 "Plural name for CRD doesn't work with kubectl"
My CRD for Elasticsearch

[code]

None of the following commands is working

[code]

But I got correct SelfLink

[code]

Here, I have used **elasticsearches** as plural form of **elasticsearch**.

How can I fix this and use **elasticsearches** as plural for kind **Elasticsearch**?

[2017-08-31 11:20] ncdc commented on #11
Not sure about why `dpl` isn't working, but `deploy`, `deployment`, and `deployments` all resolve to the built-in `deployments.apps` aka `deployments.extensions` resource.

cc @deads2k

[2017-08-31 11:55] deads2k commented on #11
Sounds like something in the CLI prefix matching @kubernetes/sig-cli-bugs

[2017-08-31 19:00] nikhita commented on #12
Similar to https://github.com/kubernetes/kubernetes/issues/51639.

[2017-09-18 21:04] ConnorDoyle commented on #3
xref https://github.com/kubernetes/api/issues/5

[2017-09-19 06:56] nikhita commented on #12
This is fixed in https://github.com/kubernetes/kubernetes/pull/50012.

[2017-09-19 13:38] resouer opened #13 "Vendor k8s.io/apiextensions-apiserver/pkg/features does not work"
cannot find package "k8s.io/apiextensions-apiserver/pkg/features"

[2017-09-21 10:14] qianyong2005 commented on #13
no features the package

[2017-09-21 13:28] nikhita commented on #13
This repo is synced from https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/apiextensions-apiserver. The last sync was done 23 days ago. This should be fixed once the syncing is done.

Currently, the sync/publish bot is broken but a fix is underway: https://github.com/kubernetes/kubernetes/issues/51643.

[2017-09-25 18:21] nikhita commented on #13
The syncing was done recently and `k8s.io/apiextensions-apiserver/pkg/features` exists now.

[2017-10-03 18:21] frankgreco commented on #9
@Gouthamve perhaps this will fix #5

[2017-10-03 19:01] frankgreco commented on #12
@nikhita do you know what release of `kubectl` this made it into?

[2017-10-04 16:08] nikhita commented on #12
So the pluralization was not a bug in kubectl after all, it was an apimachinery issue. This is fixed in 1.8.

[2017-10-04 16:32] frankgreco commented on #12
Awesome! Now the `release-1.7` branch of this project uses the `917740426ad66ff818da4809990480bcc0786a77 ` commit of `apimachinery`. Hence, in order for CRDs to work properly e2e with Kubernetes version less than 1.8, wouldn't this fix need to be backported to the `release-1.7` branch of  this project?

[2017-10-04 16:36] frankgreco commented on #12
Or, is it safe to use the `release-1.8` branch of this project with Kubernetes v1.7?

[2017-10-04 16:45] nikhita commented on #12
Not so sure about this.

I just checked - it has been backported to 1.7 in https://github.com/kubernetes/kubernetes/pull/52545. :) The changes were made in `apimachinery` and `client-go`.

Currently, the `release-1.7` branches of `kubernetes/apimachinery` and `kubernetes/client-go` repos are not synced with the main `kubernetes/kubernetes` repo. Once the syncing is done, this fix should be availab

[2017-10-04 16:57] frankgreco commented on #12
Awesome, so if I understand correctly, the steps that would need to be completed before this is working e2e in my cluster would be:

1. Wait for the `kubernetes/kubernetes` repo to be synced with both `kubernetes/apimachinery` and `kubernetes/client-go@release-4.0`
2. `kubernetes/apiextensions-server@release-1.7` will need to update it's dependencies so that it is using the _fixed_ version of `kub

[2017-10-04 18:51] nikhita commented on #12
@frankgreco Sounds perfect! :)

[2017-10-08 20:10] frankgreco commented on #12
Any update on this? If I understand correctly, there's not really a workaround for this as it requires a patch release to `kubernetes/kubernetes` and so any CRDs affected by this issue will not be able to be applied.

[2017-10-08 20:17] nikhita commented on #12
@frankgreco The fix is present in 1.7.8: https://github.com/kubernetes/kubernetes/blob/v1.7.8/staging/src/k8s.io/apimachinery/pkg/api/meta/restmapper.go. :)

However, `k8s.io/apiextensions-apiserver` is not upto date. The bot required to sync `k8s.io/apiextensions-apiserver` with `kubernetes/kubernetes` is currently being fixed now. Should be fixed soon afaik.

[2017-10-12 17:55] srossross opened #15 "Help running deepcopy-gen and or client-gen"
I am trying to adapt the `examples/client-go` by adding my own Custom Resource Type. When I change the name of the resource type from Example I get Deepcopy not supported errors. I think that I am supposed to run deepcopy-gen on the package to update `zz_generated.deepcopy.go` - but it is unclear how to do so.

[2017-10-16 18:15] nikhita commented on #15
@srossross You'll need to use the code-generator: https://github.com/kubernetes/code-generator.

We are creating a sample controller example using the code-generator. Here is the PR for it: https://github.com/kubernetes/kubernetes/pull/52753. This should give a good idea! :)

[2017-10-16 18:16] nikhita commented on #12
@frankgreco `k8s.io/apiextensions-apiserver` has been synced now! :tada:

[2017-10-16 23:11] frankgreco commented on #12
@nikhita I see that the `master` brach was updated, but the `release-1.7` and `release-1.8` branches are still _old_. I'd assume that these branches will be updated shortly?

[2017-10-17 01:53] srossross commented on #15
👍 thanks

[2017-10-17 11:29] flyer103 opened #16 "Is there an example to show how to create an instance of CRD?"
I have found an example of how to create a CRD resource and how to watch the events of a CRD resource from [this example](https://github.com/kubernetes/apiextensions-apiserver/tree/master/examples/client-go).

I want to create/update/delete an instance of a CRD resource, for example, I have created a CRD resource `OpCRD` and need to create/update/delete instances of `OpCRD`.

Are there some exampl

[2017-10-17 11:38] nikhita commented on #15
@srossross This was published just today: https://blog.openshift.com/kubernetes-deep-dive-code-generation-customresources/ - a blog post on how to use the code generator.

[2017-10-17 14:14] nikhita commented on #12
@frankgreco Thanks for notifying about this!

Yes, they should be updated soon. 1.8 is updated (there have been no changes on the branch after the last commit), 1.7 needs to be updated.

[2017-10-17 14:49] nikhita commented on #16
@flyer103 We are updating the current example to depict a controller using code-generators (that is a best practice).

- Here is the PR for a sample controller: https://github.com/kubernetes/kubernetes/pull/52753. It is almost complete and you can use this as an example.

- About how to use the code-generator: https://blog.openshift.com/kubernetes-deep-dive-code-generation-customresources/

The sa

[2017-10-17 15:14] flyer103 commented on #16
That's perfect and thanks! 😄

[2017-10-17 15:14] #16 closed

[2017-10-17 17:25] srossross commented on #15
Thanks again.

[2017-10-17 17:25] #15 closed

[2017-10-19 09:25] flyer103 opened #17 "Is it invalid to create a CRD resource with multiple versions?"
I could use `client-go` or CRD yaml file to create a CRD resource. But I need a resource with multiple versions in one cluster to do different things. I have tried but always got the error that the CRD resource has been created (using `client-go`) or field is immutable (using CRD yaml file).

So is it invalid to create a CRD resource with multiple versions?

[2017-10-19 18:58] enisoc commented on #17
It's currently not possible to create a CRD with multiple versions. The main reason is that it would imply the need for code that knows how to convert between the versions, and CRD has no mechanism to inject such code.

Can you describe why you need multiple versions?

[2017-10-19 19:03] munnerz commented on #17
If you are looking to implement multiple versions of a type, you should build out a custom API server (example: https://github.com/kubernetes/sample-apiserver)

As @enisoc says, you need to write conversions (or generate what conversions can be generated) between an *internal* API version, and your *external* (i.e. usable) versions. This is then used by the apimachinery to upgrade your types, and

[2017-10-20 02:30] flyer103 commented on #17
@enisoc Thanks for your reply and the following are the reasons:

* k8s is released very often and for [operator](https://coreos.com/blog/introducing-operators.html) developers or developers who use Helm to build apps, the changing of API version would increase the workload of maintaining apps. If a resource could have multiple versions in one cluster, it could make apps easier to run on different

[2017-10-20 02:34] flyer103 commented on #17
@munnerz It's very detailed and thank you very much! 😄
I'll look into how to write an API server and using API Aggregation may help me solve the problem.

[2017-10-23 05:02] #17 closed

[2017-11-17 00:27] gugahoi commented on #6
We are seeing something similar on `1.7.6`, is there a fix for this anywhere?

[2017-11-22 06:52] jinghzhu commented on #3
+1 to fix it.

I also face the k8s v1.7 compatible issue.

`client-go` release-4.0 still doesn't work with any tag of `apiextensions-apiserver `.

[2017-12-05 17:16] R053NR07 opened #19 "Could not create CRD on external cluster"
Hey,
I try to watch CRDs on multiple external clusters. For that purpose I created RESTClients (currently I do not have a clientset for those clusters) to watch the CRDs.

So using the RESTClient to get, watch, ... is possible:
[code]
Works for me on an existiong CRD.

Now I wanted to create the CRDs automatically on new clusters if the CRD does not exist.

To do so I did following:
[code]

But th

[2017-12-06 09:07] xh3b4sd commented on #9
Nice, we have something similar: https://github.com/giantswarm/operatorkit/blob/2804229e2bf865f72763ec1cf6f1d9dabb096665/client/k8scrdclient/k8scrdclient.go#L50. Would be cool to get this straight across the community. <3

[2017-12-06 09:13] xh3b4sd commented on #6
We see the same problems. We have different Kubernetes clusters having the same client/server versions. Against one cluster `kubectl get crd` works as expected, against the other one it does not. This is quite puzzling right now.

[2017-12-06 17:56] ash2k commented on #9
I think I'll be deploying the CRD as part of the other infrastructure objects necessary to run Smith, not as part of the application startup. It'll simplify things in the code quite a bit. But this functionality might still be useful in integration tests.

[2017-12-11 15:46] R053NR07 commented on #19
creating the clientset with "apiextensionsclient.NewForConfig(eRESTConfig)" works for me. But I still couldn't figure out why it's not working with the RESTClient.

[2017-12-20 07:10] nikhita commented on #13
Closing since this has been fixed and syncing is back in action with https://github.com/kubernetes/publishing-bot.

/close

[2017-12-20 07:10] #13 closed

[2017-12-26 06:50] nikhita commented on #4
https://github.com/kubernetes/sample-controller has been created now and depicts how to properly use generators (and hence properly use `ListOptions` as well).

[2018-01-02 07:41] sttts commented on #4
Closing as we have the sample-controller now.

[2018-01-02 07:41] #4 closed

[2018-01-04 04:18] nikhita commented on #11
/remove-lifecycle stale

[2018-01-14 08:21] tylerauerbeck opened #22 "unable to pull release-1.9 with dep"
I'm currently trying to add k8s.io/apiextensions-apiservrer release-1.9 as a dependency to my project. However when I run the following:

`dep ensure -add k8s.io/apiextensions-apiserver@release-1.9`

The process just hangs and never completes. I've attempted this from multiple machines and networks to rule out the basic issues on my end. Is this expected behavior?

[2018-01-15 18:22] liggitt commented on #12
/close
works against 1.9

[2018-01-15 18:22] #12 closed

[2018-01-16 14:54] nmnellis commented on #8
@mad01 how did you fix the ObjectMeta literal error? I am experiencing that same thing

[2018-01-23 09:43] nikhita commented on #11
Dupe of https://github.com/kubernetes/kubernetes/issues/42521.

Closing. Please reopen if you still think there is an issue.

/close

[2018-01-23 09:43] #11 closed

[2018-01-23 10:17] nikhita commented on #3
We have tags in apiextensions-apiserver now.

[2018-01-23 10:18] nikhita commented on #9
@ash2k ping, are you still intending to work on the example? :)

/cc @sttts

[2018-01-23 10:18] nikhita commented on #9
/kind feature

[2018-01-23 10:20] nikhita commented on #6
Not able to reproduce this.

Does this problem occur only if you have TPRs too?

/cc @sttts

[2018-01-23 10:20] nikhita commented on #6
/kind bug

[2018-01-23 10:20] nikhita commented on #22
/cc @sttts

[2018-01-23 10:23] nikhita commented on #19
@R053NR07 Do you have an example code/repo for this? (to understand the issue better)

/priority awaiting-more-evidence

[2018-01-23 10:37] munnerz commented on #22
Can you provide the output of `dep ensure -v -add k8s.io/apiextensions-apiserver@release-1.9`? Perhaps there is something going on under the hood that we're not seeing.

FWIW, I have managed to vendor release-1.9 as well as the version tags (kubernetes-1.9.1 etc.) just fine with dep: https://github.com/jetstack/cert-manager/blob/master/Gopkg.toml#L28

Also, what version of dep are you running?

[2018-01-23 10:47] sttts commented on #6
`kubectl get crds` vs. `kubectl get crd` ?

[2018-01-23 10:57] ash2k commented on #3
Both tags and branches.

[2018-01-23 10:57] #3 closed

[2018-01-23 11:11] ash2k commented on #9
@nikhita Unfortunately I will not have any time to do this in the near future. We now create CRDs from yaml during "infrastructure" provisioning into the cluster. Our controllers no longer create/update CRDs, just assume they've been created already. However this method is still being used in integration tests where the CRD needs to be created programmatically for setup simplicity.

If nobody have

[2018-01-23 13:59] liggitt commented on #11
deploy and deployment resolve to deployments in the extensions/v1beta1 api group, so the behavior described is working as expected.

The dpl shortName should resolve to the CRD. Please reopen that issue against kubernetes/kubernetes

[2018-01-23 14:09] nikhita commented on #11
https://github.com/kubernetes/kubernetes/issues/58695

[2018-01-23 15:35] frankgreco commented on #9
@nikhita I can work on this.

[2018-01-24 01:35] tylerauerbeck commented on #22
@munnerz

dep output:
[code]

And the output of `dep ensure -v -add k8s.io/apiextensions-apiserver@release-1.9` can be seen [here](https://gist.github.com/tylerauerbeck/159e6bb385af04f0c5acd160c62122b6) . It looks like it gets hangs on
[code]

[2018-01-24 07:16] sttts commented on #22
@tylerauerbeck until we ship a Gopkg.toml file inside of our libs, you **have to** specify the branches/tags of the dependencies as well. E.g. something like

[code]

Then dep has to try considerably less revisions. Now you hit a combinatorial explosion because everything is unspecified. That takes time, a lot of time.

[2018-01-24 16:56] R053NR07 commented on #19
@nikhita Thanks for your reply. Sorry currently I don't have any public repo to show. We also restructured our code to use the rest config instead of a rest client, this works quite well for us.

[2018-01-30 09:55] nikhita commented on #6
We don't support `crds`. Just `crd`.

Hmm...maybe we should?

[2018-01-30 11:09] domcar opened #23 "use of vendored package not allowed"
Hi Guys,

maybe my problem is easy to solve but I can't get it working.
My goal is just to list/get CRD in my cluster (not created by me, already present).

I wrote the following code:
[code]
but I get:
`main.go:5:5: use of vendored package not allowed`

What am I doing wrong?

Instead if I use the package `"k8s.io/client-go/rest"` I get this other error:
`./main.go:18:28: cannot use configext (ty

[2018-01-30 11:11] nikhita commented on #23
@domcar try `restext "k8s.io/client-go/rest"` instead of `restext "k8s.io/apiextensions-apiserver/vendor/k8s.io/client-go/rest"`

[2018-01-30 11:12] nikhita commented on #23
Ah, saw the edit now.

[2018-01-30 14:49] sttts commented on #6
IMO we should. @deads2k anything speaks against it?

[2018-01-30 16:22] deads2k commented on #6
Sounds reasonable to me.  @kubernetes/sig-cli-api-reviews @pwittrock @soltysh

[2018-01-30 18:39] nikhita commented on #6
/assign

[2018-02-07 19:22] frankgreco commented on #9
@nikhita @sttts any updated on this issue: There is an open PR [here](https://github.com/kubernetes/kubernetes/pull/58715).

[2018-02-16 15:56] pwittrock opened #24 "CRD validation doesn't prevent fields missing from the spec"
Steps to reproduce...

Create example CRD:

[code]

Create instance:

[code]

This is accepted, but should result in an error since there is no field cSpec

[2018-02-16 15:58] pwittrock opened #25 "CRD validation doesn't accept empty values for type "object" fields"
Create example CRD, but make spec an object

[code]

Create an instance with an empty spec

[code]

This throws the following error, but shouldn't since spec doesn't have any required fields:

[2018-02-16 16:14] nikhita commented on #24
Fix is WIP in https://github.com/kubernetes/kubernetes/pull/59972

[2018-02-16 16:31] pwittrock opened #26 "CRD validation doesn't support validating maps"
According the [openapi spec](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#model-with-mapdictionary-properties) maps are represented as a:

[code]

However when using a CRD with that validation it accepts requests that shouldn't validate:

[code]

Successfully created this yaml (shouldn't have)

[code]

Note: I have also gotten this error when using the go-client libra

[2018-02-16 16:32] pwittrock commented on #24
@nikhita That fix seems to drop unknown fields instead of failing the request.  I don't think this is what we want to do.

[2018-02-16 16:41] nikhita commented on #26
@pwittrock This is already being tracked in https://github.com/kubernetes/kubernetes/issues/59485.

[2018-02-16 17:23] pwittrock opened #27 "CRD validation support references for core types"
Common core types like ObjectMeta and PodSpec blow up the CRD validation into something unmanageable.  Openapi supports references to other specs.  We need to be able to reference core schema types from the validation so that CRDs aren't bloated with 100's of lines of boilerplate validation that obfuscates the important pieces defined by the user.

[2018-02-16 17:29] nikhita commented on #27
https://github.com/kubernetes/kubernetes/issues/54579

[2018-02-16 17:40] pwittrock commented on #24
We probably want a way for the CRD creator to configure this on a field by field basis.  I am sure some fields will probably a be "put whatever in here" e.g. ObjectMeta with has a million things in it.  Maybe if the schema is a type: "object" with no properties it should be a wildcard, but if it is type: "object" with properties, strictly enforce that the fields appear in properties.

[2018-02-20 07:16] nikhita commented on #26
Closing in favor of https://github.com/kubernetes/kubernetes/issues/59485.

/close

[2018-02-20 07:16] #26 closed

[2018-02-20 07:17] nikhita commented on #27
Closing in favor of https://github.com/kubernetes/kubernetes/issues/54579.

/close

[2018-02-20 07:17] #27 closed

[2018-02-22 06:59] nikhita commented on #25
@pwittrock If `spec` is defined as an **object** in the schema, for it to be empty, it can have an empty **object** value but not a **null** value i.e. the following would work:

[code]

/cc @sttts

[2018-02-27 18:02] sttts commented on #25
I agree with @pwittrock that the error is unexpect from a user point of view. Actually I am surprised that the given yaml translates to the null in JSON. Is this like that by definition of yaml?

[2018-02-27 18:15] enisoc commented on #25
Yes, I think it is:

http://yaml.org/spec/1.2/spec.html#id2786563

This seems more like a YAML gotcha than a CRD validation gotcha. Although `spec` has no required fields, the provided schema says that `spec` itself is required, so `null` is invalid. If `spec` were completely optional, the schema should say it must be either `null` or an object.

[2018-02-27 18:57] sttts commented on #25
Yes, the OpenAPI spec does not accept null for `type: object`. So the validator is correct.

One can add null to the spec though:
[code]

[2018-03-09 17:17] #5 closed

[2018-03-09 21:21] #7 closed

[2018-03-11 13:16] kindule opened #28 "CRD validation not support enum number as expected"
Create example CRD, and validate master.replicas must be 1 or 3.

Use `Enum` not work as expected.
Always raise error `in body should be one of [1 3]`.

[code]

Use `AnyOf` can work as expected but very ugly.
[code]

[2018-03-12 06:07] nikhita commented on #28
@kindule Not able to reproduce this. Tried this by writing code and via kubectl as well.

**Using kubectl:**

1. Create the CRD.

[code]

[code]

2. Create an invalid custom resource.

[code]

[code]

3. Create a valid custom resource.

[code]

[code]

**Using code**:

I have modified one of the tests we have (https://github.com/nikhita/kubernetes/commit/086ef0d48c286992b0687db4f364ebda674f8523) a

[2018-03-12 06:09] nikhita commented on #28
@sttts fyi

[2018-03-12 06:11] nikhita commented on #28
/assign

[2018-03-12 06:20] nikhita commented on #25
This is not ideal but as @enisoc mentioned

Closing. Please reopen if you think this is still an issue.
/close

[2018-03-12 06:25] nikhita commented on #22
I believe this is being tracked in the main repo.

Closing. Please reopen if you still think there is an issue.
/close

[2018-03-12 06:25] #22 closed

[2018-03-12 09:20] sttts commented on #28
@kindule can you print the validation scheme that `kubectl get -o yaml` sees?

[2018-03-12 14:30] kindule commented on #28
@nikhita I use your CRD, but still not working.

[code]

[code]

[2018-03-13 07:04] nikhita commented on #28
It is related to the cluster version. Can reproduce this on 1.9.

However, this is not technically a kubernetes bug, it's a go-openapi bug: https://github.com/go-openapi/validate/issues/13. It was fixed in https://github.com/go-openapi/validate/pull/14.

The `go-openapi/validate` that we have vendored in for the 1.9 branch is 2 years old.
https://github.com/kubernetes/kubernetes/blob/release-1.9/v

[2018-03-13 11:12] sttts commented on #28
I would consider this. Do any interfaces change that we use?

[2018-03-13 12:16] nikhita commented on #28
No, only the defaulter interface is added but we don't use that.

[2018-03-13 12:17] nikhita commented on #28
Will create a PR.

[2018-03-13 17:32] bgrant0607 commented on #28
The Kubernetes API doesn't have any examples of numerical enums, and we generally try to avoid enums. A numerical field with a limited number of valid values should not be expressed as an enum.

[2018-03-13 17:33] bgrant0607 commented on #28
https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#primitive-types

[2018-03-22 22:43] jakewins opened #29 "CRD TypeMeta empty for new objects"
I think this is the same issue - except for CRDs, obviously - as https://github.com/kubernetes/client-go/issues/60

Basically:

- Create a CRD and a matching controller
- Set up the controller to print out the `TypeMeta` details of any objects passed to the `added` function hook
- The objects that show up are missing `TypeMeta`

This does not happen for subsequent changes - triggering the `updated

[2018-04-02 21:48] enisoc commented on #29
The TypeMeta is often empty for core objects as well. For example, I ran into this problem with ReplicaSet objects. I was told that in general, you can't assume TypeMeta will always be filled in.

[2018-04-03 08:00] nikhita commented on #29
@enisoc is right. :+1:

See https://github.com/kubernetes/kubernetes/pull/59264#issuecomment-362575608 for more details.

[2018-04-03 08:00] nikhita commented on #29
Also, related issue for core objects: https://github.com/kubernetes/client-go/issues/308

[2018-04-03 08:02] nikhita commented on #29
This happens because we clear the gvk while decoding: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/versioning/versioning.go#L256

[2018-05-17 08:53] keshin opened #30 "CRD - is there a sample about setting default values with Initializer"
According to the document in https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/, I should be able to have the defaulting and "Custom Business Logic" for my CRD with an Initializer. Is there a sample I can refer to? Many thanks

[2018-05-17 17:56] pmorie commented on #24
Do we want to fail the request? Non-CRD APIs just drop unknown fields - that behavior seems desirable for me.

[2018-05-21 08:55] nikhita commented on #24
@pmorie https://github.com/kubernetes/kubernetes/pull/63604 PR for dropping the fields.

[2018-05-21 08:56] nikhita commented on #24
Closing this issue since it is being tracked in https://github.com/kubernetes/kubernetes/issues/59151 already in the main repo.

/close

[2018-05-21 08:57] #24 closed

[2018-05-21 14:14] nikhita commented on #29
Fix in progress here: https://github.com/kubernetes/kubernetes/pull/63972

[2018-05-21 14:14] nikhita commented on #29
xref https://github.com/kubernetes/client-go/issues/413

[2018-05-24 14:43] jessfraz opened #31 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-29 07:36] R053NR07 commented on #19
/close

[2018-05-29 07:36] #19 closed

[2018-06-01 12:26] tedli opened #32 "Use as client go, got NotRegisteredErr"
I use github.com/kubeflow/tf-operator(v0.1.0), k8s.io/client-go(v5.0.0) in my project. The go dependencies was managed by `glide`, and it tells me tf-operator want apiextensions-apiserver with version kubernetes-1.8.4.

Codes built and ran. However, when run into

[code]

I got an error said "v1.GetOptions is not suitable for converting to \"meta.k8s.io/v1\".

Am I using those packages in mismatch

[2018-06-02 04:17] nikhita commented on #31
This file has been created in https://github.com/kubernetes/kubernetes/pull/64262 (thanks @jessfraz) and published by the bot.

Closing.
/close

[2018-06-02 04:17] #31 closed

[2018-06-04 05:36] tedli commented on #32
finally I use a same tag (kubernetes-1.9.1) for `k8s.io/apiextensions-apiserver`, `k8s.io/apimachinery`, `k8s.io/api`, then works as expect.

[2018-06-04 05:37] #32 closed

[2018-06-29 13:39] #23 closed

[2018-07-07 20:55] #9 closed

[2018-09-16 02:44] Jack47 opened #33 "support subresources other than `status` and `scale`?"
Seems CRD currently [doesn’t support sub resource other than `status` and `scale`](https://github.com/kubernetes/apiextensions-apiserver/blob/master/pkg/apiserver/customresource_discovery_controller.go#L139).
So does this project have plan to support other sub resource? In Kubernetes there are a number of other subresources like /log, /exec, /bind. Although their semantics is much more special tha

[2018-10-02 20:34] mbohlool commented on #25
where it said spec is required?

I don't think spec is said something about this. It look like this is a validation bug. If the field is not in `Required` list, it is optional and both null or empty object should be accepted.

Analogous to that is string, if a string field is optional, null or empty string both should be accepted as not provided.

[2018-10-02 21:38] enisoc commented on #25
You're right; I was conflating "required" and "can't be null". The schema doesn't say `spec` is required, but it does say that if `spec` is present in the object, it can't be null.

That's how "optional" works in k8s APIs, but unfortunately OpenAPI Schema (via JSON Schema) works differently.

In JSON Schema, [`required`](https://tools.ietf.org/html/draft-wright-json-schema-validation-00#section-5.

[2018-10-02 23:45] enisoc commented on #25
I agree that matching the meaning of "optional" used by core APIs would be a nice UX, but it would mean we no longer match the OpenAPIV3 and JSON Schema specs, and that's a break that can't be taken lightly.

@lavalamp recently proposed a policy within SIG API Machinery that, if we say we use a standard (e.g. JSON Patch), any failure to match it exactly is a bug. So at best, we would need to stop

[2018-10-14 10:12] #30 closed

[2018-10-17 23:34] jsturtevant commented on #29
/remove-lifecycle rotten

[2018-12-10 19:49] nikhita commented on #33
No, I don't think there any plans to support custom subresources.

/cc @sttts @liggitt

[2018-12-10 19:52] nikhita commented on #28
Based on https://github.com/kubernetes/apiextensions-apiserver/issues/28#issuecomment-396461476, I don't think we plan to support enums.

Closing. Please reopen if needed.
/close

[2018-12-10 19:52] #28 closed

[2018-12-10 19:57] nikhita commented on #29
This was originally reported in https://github.com/kubernetes/kubernetes/issues/3030. Closing this in favor of it.

/close

[2018-12-10 19:57] #29 closed

[2018-12-11 08:22] liggitt commented on #33
correct, that is not currently on the roadmap

/close

[2018-12-11 08:22] #33 closed

[2018-12-20 17:30] goutamtadi1 opened #38 "Support `nullable` field in JSONSchema"
Currently, we neither allow a `{Type: "string"}` attribute with a `nullable` field nor support
[code]
to allow `null` values for the given attribute. Has there been any decision not to support `null` values to attributes that I'm unaware of? This will be useful to support `null`s, so that attributes don't require an `""` empty string value to be passed.

Are there any future plans to support `null

[2019-01-08 01:12] codwu commented on #23
same problem +1

[2019-02-08 15:26] aermakov-zalando commented on #25
/remove-lifecycle rotten

[2019-02-08 15:27] aermakov-zalando commented on #25
Are there any updates on this? We have a CRD that (for historical reasons) has one of the elements defined as either `null` or a list of strings. Right now I don't see any way of writing a schema for it, because the obvious solution of "oneOf: <array of strings>/<type: null>" isn't valid.

[2019-02-22 13:48] skonto opened #39 "List of namespaces support for informers"
Would it be possible for the `SharedInformerFactory` to be able to monitor a list of namespaces instead of either `any` or a specific one?

[2019-03-04 11:03] lancelot1989 commented on #23
same problem+1

I delete the vendor directory in the 'src/k8s.io/apiextensions-apiserver' to workaround this problem

[2019-03-20 19:06] goutamtadi1 commented on #38
/remove-lifecycle stale

[2019-04-02 12:36] pitiwari opened #41 "crd validation failing if value doesnt exists"
This is more of a question.

We have written crd validation. In our case we wanted to validate a value against a fixed set of values (say should have one value among 6 possible values) but it is possible this particular field might not have a value in that case validation shouldn’t fail. I tried with OneOf but OneOf fails when value doesn’t exist. Do we know which keyword I can use for this valida

[2019-04-13 13:15] cliveseldon opened #42 "CRD Validation fails if you have property called "items""
This is a consequence of [this go-api bug](https://github.com/go-openapi/validate/issues/108).
I have use case where I include the v1.podSpec in my CRD OpenAPI validation, this includes things like downwardAPI whose validation schemas is like:

[code]

This will fail validation with an error like:

[code]

This will happen for any OpenAPI validation that contains a properties list with a proeprty

[2019-05-09 16:52] sttts commented on #25
This is fixed with `nullable` support in 1.14. The example
[code]
is equivalent to `spec: null` and `nullable: true` can allow that in the schema.

[2019-05-09 16:52] #25 closed

[2019-07-22 15:37] #39 closed

[2019-08-17 21:04] #38 closed

[2019-08-30 15:04] #41 closed

[2019-09-10 06:43] thinalai commented on #42
/remove-lifecycle rotten

[2019-10-08 19:06] cliveseldon commented on #42
This is still an issue.

[2020-01-11 11:16] Gambler13 commented on #32
@tedli
Can you elaborate on this? I have exactly the same issue, but I can't solve it.

[2020-01-12 05:21] tedli commented on #32
@Gambler13
Hi, my problem was that I reused the `RESTClient` object.

My code was something like this:

[code]

which was wrong.

If I use separated individual `RESTClient` object, this could be solved.

My code is now in this style:

[code]

[2020-02-13 16:33] reddysrikesh opened #43 "Filter CRDs on field selectors"
This is more of a question rather than a bug. By extending k8s api server can we filter CRDs on random field selectors?

[2020-03-07 09:09] #42 closed

[2020-05-15 13:22] cxwen opened #45 "CRD create error: v1.CreateOptions is not suitable for converting to "apiextensions.k8s.io__internal" in scheme"
When I use the controller-runtime client to create a CRD resource, the following error appears：

[code]

[2020-05-15 14:58] #45 closed

[2020-06-12 19:26] joelsmith opened #46 "Update SECURITY_CONTACTS for the repo"
The purpose of the [`SECURITY_CONTACTS`](/SECURITY_CONTACTS) file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to this repository is discovered or disclosed.  As described in the file, those on the list

[2020-06-12 19:29] joelsmith commented on #46
/assign @deads2k
/assign @lavalamp
/assign @sttts

[2020-06-12 21:00] joelsmith commented on #46
I'm going to re-open this and others like it in k/k. I think it makes more sense to have the staging issues be against that repo where the fix will actually be happening.

[2020-06-12 21:00] #46 closed

[2020-07-12 18:53] #43 closed

[2020-07-14 18:02] kotyara85 opened #47 "k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake set server version"
Hello,
Is there a way to specify server version in fake package?
Thank you

[2020-10-19 12:18] RamLavi opened #48 "`kubectl explain` not updated when updating CRD apiVersion to apiextensions.k8s.io/v1"
I'm getting an issue with kubectl explain <crd> (in my case networkaddonsconfig ) when upgrading from version with `apiextensions.k8s.io/v1beta1` to `apiextensions.k8s.io/v1`.

The solution I saw so far is to set `PreserveUnknownFields:false`  (SSP [PR](https://github.com/kubevirt/kubevirt-ssp-operator/commit/7ecd2973ce3be50083c5db54aabdb2ea71cdc044), CDI [PR](https://github.com/kubevirt/container

[2020-12-11 20:11] #47 closed

[2020-12-14 18:08] kapilpau opened #49 "Can't unmarshall a CRD to Go object"
[The struct definitions](https://github.com/kubernetes/apiextensions-apiserver/blob/master/pkg/apis/apiextensions/types.go#L34) for a CRD and it's fields don't contain `json:"x"` fields and therefore cannot be unmarshalled to yaml

[2021-01-06 05:57] objcoding commented on #25
spec.validation.openAPIV3Schema.properties[spec].properties[sentinel].anyOf[0].type: Unsupported value: "null": supported values: "array", "boolean", "integer", "number", "object", "string"

[2021-01-13 12:46] sttts commented on #25
[code]

[2021-03-01 15:34] gaocegege opened #50 "[problem] unsturctured field is dropped when using v1 API"
Hi, I am trying to use unstructured in the CRD like this:

[code]

But we got errors when we use v1:

[code]

BTW, it works well when we use v1beta1. I was diving into the code base but I did not found the reason.

There is the diff between v1 CRD and v2 CRD. Seems that there are some more managed fields in v1beta1.

[code]

I'd appreciate it if anyone could help me.

Thanks :clinking_glasses: :be

[2021-03-02 13:53] Zheaoli commented on #50
I could not reproduce your issue in Kubernetes 1.20

Would you mind give more information about your cluster version and the error output?

[2021-04-07 09:47] #48 closed

[2021-04-07 11:36] kapilpau commented on #49
/remove-lifecycle stale

[2021-05-04 20:01] campoy opened #51 "JSONSchemaProps should also support YAML encoding/decoding"
This issue is about the `JSONSchemaProps` type defined in:
- [k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1](https://github.com/kubernetes/apiextensions-apiserver/blob/41c32f2661cc03c04d3c7e48ccf8107e0f8922b4/pkg/apis/apiextensions/v1/types_jsonschema.go)
- [k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1](https://github.com/kubernetes/apiextensions-apiserver/blob/41c32f26

[2021-05-27 18:11] #51 closed

[2021-07-06 12:08] kapilpau commented on #49
/remove-lifecycle stale

[2021-07-16 01:59] yongxiu opened #53 "ValidateCustomResource failed for map with additionalProperties of string type"
I wrote an example test https://github.com/kubernetes/apiextensions-apiserver/pull/52/files

According to https://spec.openapis.org/oas/v3.0.3#model-with-map-dictionary-properties, I should be able to validate a map with string type value using
[code]

But this test is failing with error: `unexpected validation error for map[field:map[a:b]]: [field: Invalid value: "a": field.a in body is a forbidd

[2021-07-19 13:16] alculquicondor commented on #50
Maybe you have to add `x-kubernetes-preserve-unknown-fields: true` to `trialSpec`

[2021-07-20 03:11] gaocegege commented on #50
I used to add it.

[2021-07-20 13:49] alculquicondor commented on #50
So it doesn't work? If it doesn't, can you please open an issue in kubernetes/kubernetes instead? I don't think people pay much attention to issues here.

[2021-08-19 14:07] #50 closed

[2021-08-30 19:31] Jefftree commented on #53
Closing this as it is duplicate of kubernetes/kubernetes#104137

/close

[2021-09-23 10:39] Abhishek-kumar09 opened #54 "Error getting/installing go module"
While getting the apiextensions-apiserver go module, getting attempt failures due to conflicts in dependencies, from api/batch/v2alpha1
[code]

Host: Ubuntu 20.04
go version go1.16.4 linux/amd64

[2021-09-28 19:01] Abhishek-kumar09 commented on #54
@liggitt Requesting your help on the issue, please let me know if I am doing something wrong here.

[2021-09-28 19:02] liggitt commented on #54
what is the current content of your go.mod file?

[2021-09-28 20:22] Abhishek-kumar09 commented on #54
mod:
[code]

[2021-09-28 22:41] liggitt commented on #54
you need k8s.io/client-go to match the k8s.io/api and k8s.io/apimachinery version

[code]

[2021-11-03 13:17] kapilpau commented on #49
/remove-lifecycle rotten

[2021-12-28 15:16] #54 closed

[2022-02-10 15:21] 2uasimojo opened #56 "`format=duration` kubebuilder validation accepts `d`, `w`; metav1.Duration does not"
Despite validation of type=duration being [documented](https://github.com/kubernetes/apiextensions-apiserver/blob/29400d7010f44f7d6ad2c6762604185143382598/pkg/apis/apiextensions/v1/types_jsonschema.go#L51) as parsed by time.ParseDuration, which is [what the unmarshaller does](https://github.com/kubernetes/apimachinery/blob/df993592a122931b8aac4db57689e09458a2332c/pkg/apis/meta/v1/duration.go#L39),

[2022-04-02 14:12] #49 closed

[2022-05-11 15:58] JoelSpeed commented on #56
/remove-lifecycle stale

[2022-08-12 21:49] yongxiu commented on #53
/reopen

[2022-08-24 06:06] ash2k opened #57 "Separate repository or Go module for API types?"
Currently lots of tools/libraries import this repo to use `CustomResourceDefinition`/etc types. With that, [lots of dependencies](https://github.com/kubernetes/apiextensions-apiserver/blob/master/go.mod) are imported. Most of them are not needed. This is problematic for many reasons - more code to download (slower builds), more code to scan for tools, etc.

Ideas:
- Move the API types into a separ

[2022-10-08 17:58] #56 closed

[2022-11-22 12:50] ash2k commented on #57
/remove-lifecycle stale